<!-- 
    Buttons that control the Monte Carlo Apps
 -->
<div class="container-fluid">
    <div id="buttons" class="d-flex flex-wrap justify-content-center">
        <button id="run1" type="button" class="btn btn-secondary btn-lg m-2">1 Roll</button>
        <button id="run10" type="button" class="btn btn-secondary btn-lg m-2">10 Rolls</button>
        <button id="runForever" type="button" class="btn btn-secondary btn-lg m-2">Infinite Rolls</button>
        <!-- hidden at first -->
        <button id="stop" type="button" class="btn btn-danger btn-lg m-2" style="display: none;">Stop</button>
        <button id="reset" type="button" class="btn btn-danger btn-lg m-2">Reset</button>
    </div>
</div>