<header>
    <div class="row">
        <div id="header-title-div" class="col-12 text-center">
            <h1 id="header-title" class="display-4">
                Mathematical Playgrounds
            </h1>
        </div>
    </div>


    <div id="nav-links" class="mb-3">
        <nav class="nav d-flex justify-content-center">
            {% for item in site.data.navigation %}
            <a href="{{ item.link }}" class="px-2{% if page.url == item.link %} nav-current-page{% endif %}">
                {{ item.name }}
            </a>
            {% endfor %}
        </nav>
    </div>
</header>