// Styles from this file are exported to all other scss files

// imports google fonts: Bungee and Open Sans
@import url("https://fonts.googleapis.com/css?family=Bungee|Open+Sans&display=swap");

$bodyFont: "Open Sans", sans-serif;
$hFont: "Bungee", cursive;

/* Color Theme Swatches in RGBA */
$theme-yellow: rgb(255, 230, 0);
$theme-green: rgb(92, 221, 41);
$theme-pink: rgba(255, 0, 141, 1);
$theme-blue: rgba(20, 186, 204, 1);
$theme-red: rgb(255, 116, 81);

//////////////////////////////////
// Universal Settings
//////////////////////////////////

html {
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $hFont;
  transition-duration: 1000ms;
  color: black;
}

h1 {
  color: $theme-pink;
}

h2 {
  color: $theme-pink;
}

h3 {
  color: $theme-blue;
}

h4 {
  color: $theme-green;
}

h5 {
  color: $theme-red;
}

h6 {
  color: $theme-yellow;
}

#main a:not(.btn) {
  color: $theme-pink;
}

#main a:hover:not(.btn) {
  color: $theme-red;
  text-decoration: underline;
}

b {
  color: $theme-blue;
}

//////////////////////////////////
// Header
//////////////////////////////////

header {
  h1 {
    margin-bottom: 0px;
  }

  a {
    font-family: $hFont;
    font-size: 20px;
    color: $theme-blue;
  }

  a:hover {
    color: $theme-pink;
  }

  .title-letter {
    transition-duration: 1000ms;
  }
}
