---
---

@import "main";

/////////////////////////////////////
// Table Styling
/////////////////////////////////////

#table-container {
  margin: 10px 5px;
  padding: 0px;
}

.number {
  text-align: center;
}

.table td {
  padding: 10px 0px;
}

/////////////////////////////////////
// Highlight options
/////////////////////////////////////

.color-main {
  background-color: $theme-blue;
  color: white;
}

td:hover {
  background: $theme-pink;
  color: white;
}
