---
---

@import "main";

body {
  margin-top: 20px;
  font-size: 1.1em;
}

#social {
  margin: 20px 0px 0px 0px;
}

.form-check {
  margin-bottom: 5px;
}

#holder {
  max-width: 900px;
}

#grid-build-options {
  max-width: 500px;
}

#mult-table-build-options {
  max-width: 500px;
}

a {
  color: deeppink;
}

a:hover {
  text-decoration: none;
  color: darkblue;
  font-weight: bolder;
}

h2 {
  margin-top: 40px;
  margin-bottom: 0px;
}

p {
  margin-bottom: 5px;
}

.accent-text {
  color: limegreen;
  font-size: 1em;
}

.description {
  font-family: monospace;
  color: grey;
  margin-top: 0px;
  margin-bottom: 10px;
}

.lead {
  color: dimgray;
}
