---
---

@import "main";

/////////////////////////////////////
// Table Styling
/////////////////////////////////////

.number {
  text-align: center;
}

/////////////////////////////////////
// Highlight options
/////////////////////////////////////

.table td,
.table th {
  text-align: center;
  padding: 10px 0px;
  border: none;
}

th {
  background-color: black;
  color: $theme-pink;
  font-family: $hFont;
  font-size: 20px;
  padding: 0px;
}

// When a cell is selected
.color-main {
  background: $theme-blue;
  color: white;
}

th:hover {
  color: white;
  background-color: $theme-pink;
}

td:hover {
  background-color: $theme-pink;
  color: white;
}

.table td {
  padding: 10px 0px;
  border: solid 1px lightgrey;
}
