<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

  {% include head.html %}

  <!-- Custom CSS for the page; link in front matter -->
  <link rel="stylesheet" href="{{ page.customCSS }}">

</head>

<body>

  {% include title-and-nav.html %}

  <div id="main">
    {{ content}}
  </div>

  {% include body-end.html %}
  <!-- Custom JS for the page; link in front matter -->
  <script src="/assets/js/universal.js"></script>
  <script src="{{ page.customJS }}"></script>

</body>

</html>